.places {
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  margin: 0 auto;
  justify-content: center;
  width: calc(100% - 96px);
  height: auto;
}

@media only screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    width: calc(100% - 48px);
  }
}

@media only screen and (max-width: 420px) {
  .places {
    padding-top: 64px;
    width: 100%; 
  }
}
