@import url(__caption/lead__caption.css);
@import url(__image/lead__image.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__title/lead__title.css);
@import url(__image-container/lead__image-container.css); 
.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 92px;
}



@media only screen and (min-width: 1280px) {
  .lead {
    padding-top: 58px;
  }
}


@media only screen and (max-width: 768px){
  .lead {
    padding-bottom: 88px;
  }
}

@media only screen and (max-width: 320px){
  .lead {
    padding-bottom: 64px;
  }
}
