.card__website_margin-top {
  margin-top: 76px;
}

@media only screen and (max-width: 724px) {
  .card__website_margin-top {
    margin-top: 46px;
  }
}

@media only screen and (min-width: 725px) and (max-width: 768px) {
  .card__website_margin-top {
    margin-top: 0;
  }
}
