.footer__links {
  display: flex;
  width: 211px;
  height: 18px;
  list-style: none;
  margin-top: 92px;
}

@media only screen and (max-width: 420px) {
  .footer__links {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
    padding-bottom: 32px;
  }
}
