
.card__website {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 48px;
  grid-area: website;
}


@media only screen and (max-width: 768px) {
  .card__website {
    height: 46px;
  }
}

@media only screen and (max-width: 450px) {
  .card__website {
    margin-left: 16px; 
  }
}



@media only screen and (max-width: 320px) {
  .card__website {
    display: none;
  }
}
