.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
  margin-top: 32px; 
}

@media only screen and (max-width: 320px){
  .intro__text {
    font-size: 16px;
    line-height: 26px;
    max-width: 288px;
  }
}
