.photo-grid__list-item {
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 320px) {
  .photo-grid__list-item {
    margin-bottom: 12px;
  }
}


/* @media only screen and (max-width: 768px) and (min-width: 321px) {
  .photo-grid__list-item {
    width: 352px;
    height: 264px;
  }
}

@media only screen and (min-width: 1280px) {
  .photo-grid__list-item{
    width: 284px;
    height: 213px;
  }
} */
