.card__image {
  width: 440px;
  min-width: 400px; 
  max-width: 100%;
  height: auto;
  grid-area: image;
}

@media only screen and (min-width: 1280px) {
  .card__image {
    width: 460px;
  }
}

@media only screen and (max-width: 768px) {
  .card__image {
    width: 340px;
    max-width: 100%;
    min-width: 230px;
  }
}



@media only screen and (max-width: 450px) {
  .card__image {
    width: 100%;
    margin: 32px auto;
  }
}
