.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 8px;
  max-width: 924px;
  width: 100%
  margin: 0 auto;
}

@media only screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media only screen and (max-width 1024px) {
  .lead__caption {
    max-width: 984px;
    border: 1px solid yellow;
  }
}
