.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: .15em;
  text-transform: uppercase;
  margin: 8px auto 0 auto;
  max-width: 924px;
  width: 100%;
}

@media only screen and (max-width: 420px) {
  .lead__caption {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 924px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .lead__caption {
    max-width: 984px;
  }
}
