.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  align-self: center;
  margin-top: 25%;
  opacity: 1;
  z-index: 2;
}

@media only screen and (max-width: 420px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
