@import url('__copyright/footer__copyright.css');
@import url('__link/footer__link.css');
@import url('__links/footer__links.css');
@import url('__link-item/footer__link-item.css');

.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  height: 134px;
  margin: 0 auto;
}

@media only screen and (min-width: 1184px) {
  .footer {
    max-width: 1184px;
    width: 100%; 
  }
}

@media only screen and (max-width: 924px) {
  .footer{
    width: calc(100% - 48px);
  }
}

@media only screen and (max-width: 420px) {
  .footer {
    height: 286px;
    flex-direction: column;
    width: calc(100% - 32px);
  }
}
