@import url(__copyright/footer__copyright.css);
@import url(__link/footer__link.css);
@import url(__links/footer__links.css);
@import url(__link-item/footer__link-item.css);

.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 96px);
  height: 134px;
  margin: 0 auto;
}

@media only screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}

@media only screen and (max-width: 768px) {
  .footer{
    width: calc(100% - 48px);
    max-width: 720px;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    height: 286px;
    flex-direction: column;
  }
}
