.photo-grid__image {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
}


@media only screen and (max-width: 320px) {
  .photo-grid__image{
    max-width: 288px;
    width: 100%;
    height: auto;

  }
}


@media only screen and (max-width: 768px) and (min-width: 321px){
  .photo-grid__image{
    max-width: 352px;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .photo-grid__image{
    width: 284px;
    height: auto;
  }
}
