.header__list {
  display: flex;
  margin: 0;
  padding: 0; 
  padding-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
}


@media only screen and (max-width: 420px) {
  .header__list {
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
  }
}
