@import url('__image/card__image.css');
@import url('__link/card__link.css');
@import url('__link-text/card__link-text.css');
@import url('__paragraph/card__paragraph.css');
@import url('__paragraph-container/card__paragraph-container.css');
@import url('__paragraph-med/card__paragraph-med.css');
@import url('__paragraph-med/__paragraph-med_margin-bottom_zero/card__paragraph-med_margin-bottom_zero.css');
@import url('__paragraph-med/__paragraph-med_line-height_27px/card__paragraph-med_line-height_27px.css');
@import url('__paragraph-med/__paragraph-med_margin-bottom_zero/card__paragraph-med_margin-bottom_zero.css');
@import url('__title/card__title.css');
@import url('__url-heading/card__url-heading.css');
@import url('__website/card__website.css');
@import url('__website/__website_margin-top/card__website_margin-top.css');

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 76px 48px repeat(2, 1fr);
  grid-template-areas:
  "title website"
  " . . "
  "image text"
  "image text";
  max-width: 928px;
  margin: 0 auto;
  padding-bottom: 80px;
  grid-column-gap: 16px;
}

.card:nth-of-type(2) {
  grid-template-rows: 152px 48px repeat(2, 1fr);
}

@media only screen and (max-width: 768px){
  .card {
    grid-template-rows: 46px 48px repeat(2, 1fr);
  }
  .card:nth-of-type(2) {
    grid-template-rows: 48px 96px repeat(2, 1fr);
  }
}



@media only screen and (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
