.cover__item {
  position: relative;
  background-image: url(/images/__background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 2;
  text-decoration: none;
  color: var(--white);
  margin: 0 auto;
  width: 100%;
  height: auto;
}
